name: Release Creation

on:
  release:
    types: [published]

jobs:
  build:
    if: '!github.event.prerelease'
    runs-on: ubuntu-latest
    steps:
    # Checkout files from Github
    - name: Checkout files
      uses: actions/checkout@v2
      with:
        submodules: recursive

    # Substitute the Manifest and Download URLs in the module.json
    - name: Substitute Manifest and Download Links For Versioned Ones
      id: sub_manifest_link_version
      uses: microsoft/variable-substitution@v1
      with:
        files: 'module.json'
      env:
        version: ${{github.event.release.tag_name}}
        manifest: https://github.com/${{github.repository}}/releases/latest/download/module.json
        download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/dnd5e_fr-FR.zip
        url: https://github.com/${{github.repository}}
        changelog: https://github.com/${{github.repository}}/releases/tag/${{github.event.release.tag_name}}

    # Create a zip file with all files required by the module to add to the release
    - name: Create archive
      run: zip dnd5e_fr-FR.zip fr.json babele-register.js module.json -r compendium_fr -x ".*"

    # Create a release for this specific version
    - name: Update Release with Files
      id: create_version_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true # Set this to false if you want to prevent updating existing releases
        name: ${{ github.event.release.name }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json, ./dnd5e_fr-FR.zip'
        tag: ${{ github.event.release.tag_name }}
        body: ${{ github.event.release.body }}

    # Update module json version in master branche
    - name : Update module version
      uses: pocket-apps/action-update-version@v1
      with:
        files: 'module.json'
        version-regexp: '\d+.\d+.\d+.\d+'
        repo-token: ${{ secrets.GITHUB_TOKEN }}

    # Publish to foundry
    - name: Publish Module to FoundryVTT Website      
      id: publish-to-foundry-website
      uses: cs96and/FoundryVTT-release-package@v1
      with:
        package-token: ${{ secrets.PACKAGE_TOKEN }}
        manifest-url: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/module.json
        notes-url: https://github.com/${{github.repository}}/releases/tag/${{github.event.release.tag_name}}
