name: Update en.json from system

on:
  push:
  schedule:
    - cron: '0 0 * * *' # Se déclenche tous les jours à minuit (UTC)
  workflow_dispatch: # Permet de déclencher manuellement l'action
  


jobs:
  update-en-json:
    runs-on: ubuntu-latest
    if: github.ref_name != 'master' # Exécute ce job uniquement si la branche n'est pas master

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      with:
        ref: ${{ github.ref_name }}
     
    - name: Clone the target repository
      run: |
        git clone https://github.com/foundryvtt/dnd5e.git target-repo
        cd target-repo
        git checkout ${{ github.ref_name }} 

    - name: Copy files from packs source
      run: |
        mkdir -p en/packs/_source
        cp -r target-repo/packs/_source/* en/packs/_source

    - name: Copy en.json
      run: |
        cp target-repo/lang/en.json en.json
    
    - name: Remove target-repo directory
      run: |
        rm -rf target-repo/
        
    - name: Commit and push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add en.json en/packs/_source
        if [ -n "$(git status --porcelain)" ]; then          
          git commit -m "Update en.json and packs/_source from foundryvtt/dnd5e"
          git push origin ${{ github.ref_name }}
        else
          echo "No changes to commit"
        fi
